/* Reset default styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #292C33;
  color: white;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.tab.active {
  color: #E86726;
  font-weight: bold;
  background-color: #313E35;
}

/* Color Scheme:
#FE9B33
#E86726
#B14B34
#313E35
#292C33 */