/* Reset default styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #292C33;
  color: white;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.tab.active {
  color: #E86726;
  font-weight: bold;
  background-color: #313E35;
}

#textPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  display: none !important;
}

.textPopupContent {
  width: 300px;
  border: 4px solid #FE9B33;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  position: relative;
  background-color: #292C33;
}

/* Color Scheme:
#FE9B33
#E86726
#B14B34
#313E35
#292C33 */