header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.quoteContainer {
  border: 4px solid #FE9B33;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}

.rankSettingContainer {
  align-self: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.retryDaysInput {
  width: 30px;
  margin-left: 100px;
}

.settingsPrimaryButtonContainer {
  width: calc(100% - 60px);
  margin: 10px 30px;
}

#saveButton {
  width: 100%
}