header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.quoteContainer {
  border: 4px solid #FE9B33;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}
