table {
  width: 100%;
}

th, td {
  border: 1px solid #292C33;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

tr {
  position: relative
}

td:first-child, th:first-child {
  width: 70%; 
}

td:not(:first-child, :last-child), th:not(:first-child, :last-child) {
  width: 1%;
  white-space: nowrap;
}

td:last-child, th:last-child {
  width: 30%;
  white-space: nowrap;
}


td:first-child:hover::after {
  content: attr(data-fulltext);
  position: absolute;
  left: 0;
  bottom: 30px;
  background-color: #313E35;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
}